<div class="container signup" style="margin-top:65px">
  <% if flash %>
    <% flash.each do |key,value| %>
        <div class="alert alert-<%= key %>"><%= value %> </div>
    <% end %>
  <% end %>
  <%= form_for :session,url:sessions_path do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email,placeholder:"Your Email",class:"form-control" %>
    </div>
    <div>
      <%= f.label :password %>
      <%= f.password_field :password,placeholder:"Your Password",class:"form-control" %>
    </div>
      <%= link_to "No account?",signup_path,class:"link-to-signup" %>
    <%= f.submit "I'm coming",class:"btn btn-default btn-danger"%>
  <% end %>

</div>