<% provide(:title,"home") %>
<% if sign_in? %>
    <div class="container home-user">
      <% if @micropost.errors.any? %>
          <div class="bs-callout bs-callout-danger">
            <h4>Opoos , you got <%= pluralize(@micropost.errors.count,"error") %></h4>
            <ul>
              <% @micropost.errors.full_messages.each do |error| %>
                  <li>* <%= error %></li>
              <% end %>
            </ul>
          </div>
      <%end%>
      <% if flash %>
        <% flash.each do |key,value|%>
              <div class="alert alert-<%= key %>"><%= value %> </div>
        <% end %>
      <%end%>
      <div class="user">
        <a class="link-user" href="<%= user_path(current_user) %>" title="<%= current_user.name %>" >
          <%= avatar(current_user,"?s=60") %>
        </a>
        <%= form_for(@micropost) do |f| %>
            <%= f.text_area :content,placeholder:"say something ...",class:"form-control" %>
            <%= f.submit "publish",class:"btn btn-warning btn-default" %>
        <% end %>
      </div>
      <div class="talking">
        <p><span>People</span><span>&nbsp;were&nbsp;</span><span>talking about&nbsp;</span>.....</p>
        <ul class="content-list">
          <% if(@feeds) %>
              <% @feeds.each do |feed| %>
                  <li>
                    <a class="link-user" href="<%= user_path(feed.user) %>" title="<%= feed.user.name %>" >
                      <%= avatar(feed.user,"?s=40") %>
                      <i class="glyphicon glyphicon-bullhorn"></i>
                    </a>

                    <p><%= feed.content %></p>
                    <a class="comment" id="<%= feed.id %>" state="close"><i class="glyphicon glyphicon-send"></i> comments(<span class="comment-count"><%= feed.comments.count %></span>)</a>
                  </li>
                  <li class="comment-list">
                      <p>&nbsp;&nbsp;&nbsp;I'm loading ....</p>
                  </li>
              <% end %>
          <% end %>
        </ul>
        <% if(@feeds) %>
            <%=will_paginate @feeds %>
        <% end %>

      </div>
    </div>

<% else %>
    <div class="home-container">
      <%= link_to "","http://instagram.com/pptalent",:class=>"wzx" %>
      <h3>Welcome to Wayne.Twitter</h3>
      <p>I made it by ruby on rails, pretty cool : )</p>
      <%= link_to "Sign up",signup_path,:class=>"btn btn-lg btn-warning"%>
    </div>
<%end%>

<%= javascript_include_tag "comment.js" %>