<div class="container user-index-all">
  <table class="table table-striped user-all">
    <thead>
    <tr>
      <td>Face</td>
      <td>Name</td>
      <td>Email</td>
      <td>Registration date</td>
      <td>Follow</td>
    </tr>
    </thead>
    <tbody id="all-users">
    <% for user in @users %>
        <% @user=user %>
        <% @index=true %>
        <% if !is_current_user?(user)%>
            <tr>
              <td><a href="/users/<%= user.id%>"><%= avatar(user,"?s=30") %></a></td>
              <td><a href="/users/<%= user.id%>"><%= user.name %></a></td>
              <td><%= user.email %></td>
              <td><%= local_time(user.created_at,"%Y-%m-%d")%></td>
              <td>
                <% if current_user.following?(@user) %>
                    <%= render "follow"%>
                <% else %>
                    <%= render "unfollow"%>
                <% end %>

              </td>
            </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate %>
</div>
<%= javascript_include_tag "users.js" %>