<div class="container user-show">
  <% flash.each do |key,value|%>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

  <div class="user-header-left">
    <%= avatar(@user) %>
    <p class="user-name"><%= @user.name%></p>
    <div class="user-info">
      <p><%= @user.microposts.count %></p>
      <p>Twitters</p>
    </div>
    <div class="user-info">
      <p><%= @user.followed_user.count %></p>
      <p>Following</p>
    </div>
    <div class="user-info">
      <p><%= @user.follower_user.count %></p>
      <p>Followers</p>
    </div>
  </div>

  <div class="user-header-right">
    <ul class="microposts">
      <%= render @microposts %>
    </ul>
    <%= will_paginate @microposts %>
  </div>

  <div class="follow-block">
    <% if !is_current_user?(@user) %>
        <% if current_user.following?(@user) %>
            <%= render "follow"%>
        <% else %>
            <%= render "unfollow"%>
        <% end %>
    <% end %>
  </div>

</div>