<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title))%></title>
  <%= stylesheet_link_tag    "application", media: "all",
                             "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar">
  <div class="container">
    <%= link_to "PPTwitter",root_path,id:"logo",
                class:"navbar-brand"
    %>
    <ul class="nav nav-pills pull-right main" >
      <li><%= link_to "Home",root_path %></li>
      <li><%= link_to "People",users_path %></li>
  
      <% if sign_in? %>
          <% user= current_user %>
          <li class="dropdown user-header-login">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= user.name %> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%=link_to "Me",user %></li>
              <li><%=link_to "Setting",edit_user_path(user) %></li>
              <li class="divider"></li>

              <li><%=link_to "Log out",logout_path,class:"log-out",method:"delete"%></li>
            </ul>
          </li>
      <% else %>
          <li><%= link_to "Log in",login_path,class:"btn btn-primary btn-sm"%></li>
      <% end %>
    </ul>
  </div>
</div>
<%= yield %>

</body>
</html>
